.classpath
.project
TestNG.xml
.settings
target/
test-output/
logs/
results/*
sonar-project.properties
FailedMethods.txt
FailedAndSkipped.txt
Skipped.txt
config/config.properties
config/driverconfig.properties
/.idea
.sonar/batch-report
.sonar
.idea
.idea/libraries
debug.log
*.iml
sh.exe.stackdump
*.ipr
*.iws
*.9.png
*.xml
*.xhtml
*.class
